body {
    margin:0;
    font-family: 'Open Sans', sans-serif;
    color:#000;
}

section {
    width:100%;
    padding:2% 8%;
    margin-top: 100px; 
    box-sizing: border-box;
}

/* Checkout page heading */
section > h4 {
    margin:0;
    padding: 0;
    margin-bottom: 48px;
    font-size: 36px;
    font-weight: 500;
}

section > h5 {
    margin:0;
    padding: 0;
    margin-bottom: 16px;
    font-size: 24px;
    color:#333333;
    font-weight: 400;
}

#checkout-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#checkout-items {
    width:50%;
   
}

.checkout-item {
    width:100%;
    max-width: 600px;
    margin-bottom: 16px;
    padding:16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    box-sizing: border-box;
}

.product-img {
    max-width: 80px;
    margin-right: 10px;
}

.product-info {
    width:100%;
}

.product-name { 
    margin:0;
}


#order-card {
    width: 50%;
    margin-left:3%;
    padding:16px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 5px;
}

#amt-title {
    margin:0;
    font-size: 24px;
    color:#333333;
    font-weight: 400;
    margin-bottom:16px;
}

#order-card p {
    font-size: 16px;
}

#total-amt {
    margin-left:4px;
    font-size:24px;
    opacity: 0.8;
    font-weight: 800;
}

#place-order-btn {
    cursor: pointer;
    outline: none;
    border:none;
    font-size: 18px;
    color:#fff;
    background-color: #009688;
    margin-top:36px;
    padding:18px 36px;
    border-radius: 6px;
    font-weight: 600;
}

#error-div {
    display: none;
    margin-top:16px;
    width:100%;
    font-weight: 600;
    color:red;
}


/* Mobile Responsive */
@media (max-width: 768px) {
    #checkout-info {
        flex-direction: column;
    }

    #checkout-items, #order-card { width:100%;}

    #order-card {margin-left:0;}
}