body {
    margin:0;
    font-family: 'Open Sans', sans-serif;
    color:#000;
}

section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px; 
    width:100vw;
    height:35vh;
}

section > div {
    margin-bottom: 12px;
}

.fa-check-circle {
    font-size: 160px;
    color: green;
}

#success-title {
    font-size: 36px;
    font-weight: 700;
}

#success-msg {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 500;  
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .fa-check-circle { font-size: 80px;}

    #success-title { font-size:24px;}

    #success-msg { width:80%; font-size: 18px;}
}