footer  {
    margin-top:100px;
    padding:5%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #1C1B1E;
    color:#fff;
    font-weight: 600;
}

footer > div > h4 {
    margin:0;
    margin:16px 0;
    font-size: 16px;
    letter-spacing: 1px;
    opacity: 0.9;
}

footer > div > a {
   display: block;
   margin-top: 12px;
   font-size: 14px;
   opacity: 0.8;
   letter-spacing: 1px;
}

#edyoda-img {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 128px;
    z-index: 1;
}